---
layout: default
title: Gartner Cites GitLab as a Niche Player in MQ for ARO
suppress_header: true
extra_css:
  - styles-2018.css
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline Gartner Cites GitLab as a Niche Player in MQ for ARO

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %p In this report, GitLab is ranked as a “niche player." The placement is based on GitLab’s focus on forward-looking, next-generation technologies like Kubernetes, while lacking broad and robust support for application release orchestration using legacy IT platforms.
            %p Gartner notes GitLab strengths, such as all functionality contained in one product so there is no confusion as to which features customers are getting.

        .col-md-4.col-md-offset-1
          %h2.margin-top0 Download the report
          %p If you don't see the form, try temporarily disabling ad blockers or use <a href="https://www.google.com/chrome/" target="_blank">another browser</a>.
          .centered-form
            %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
            %form#mktoForm_1002
            :javascript
              MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1002, function(form) {
                form.onSuccess(function() {
                  form.getFormElem().hide();
                  $('.confirmform').attr('style', 'visibility: visible');
                  return false;
                });
              });
        .confirmform{ style: "visibility:hidden;" }
          .col-md-4.col-md-4.col-md-offset-1
            %h3 <a href="/resources/forrester-wave-ci-2017/">Click here to download the report.</a>
            %p You will also receive an copy of the report sent to your inbox shortly.
